@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Quicksand Light'), local('Quicksand-Light'), url(https://fonts.gstatic.com/s/quicksand/v9/6xKodSZaM9iE8KbpRA_pgHYYT8L6.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Quicksand Medium'), local('Quicksand-Medium'), url(https://fonts.gstatic.com/s/quicksand/v9/6xKodSZaM9iE8KbpRA_p2HcYT8L6.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
p {
  font-family: 'Quicksand', sans-serif;
}
@media only screen and (max-width: 800px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 800px) {
  header img {
    float: left;
    width: 50%;
    height: auto;
  }
}
header .topnav {
  margin-top: 30px;
}
@media only screen and (max-width: 800px) {
  header .topnav {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  header .topnav #myLinks {
    display: none;
    margin-top: 90px;
  }
}
@media only screen and (max-width: 800px) {
  header .topnav a {
    color: #008eb6;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 35px;
    display: block;
  }
}
header .topnav a.icon {
  display: none;
}
@media only screen and (max-width: 800px) {
  header .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}
header h1 {
  margin-top: 30px;
  color: #14363f;
  text-align: center;
}
header button {
  background-color: #008eb6;
  /* Green */
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (max-width: 800px) {
  .content {
    width: 90%;
    margin: 75px auto;
    color: #14363f;
    text-align: center;
  }
}
.content h2 {
  background-color: #91b2ce;
  padding: 34px 10px;
  border-radius: 10px;
}
@media only screen and (max-width: 800px) {
  .features img {
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
}
.test .textBox {
  border: 2px solid #008eb6;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}
.test .textBox img {
  float: left;
  margin-right: 20px;
}
@media only screen and (max-width: 800px) {
  .test .textBox img {
    margin: auto;
    float: none;
    display: block;
  }
}
.test .textBox span {
  font-size: 20px;
  margin-right: 15px;
}
.ourStory p {
  line-height: 30px;
}
.ourStory a {
  font-size: 20px;
}
.contact .fa {
  padding: 16px 22px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 8px;
  border-radius: 50%;
}
.contact .fa:hover {
  opacity: 0.7;
}
.contact .fa-facebook {
  background: #3B5998;
  color: white;
}
.contact .fa-twitter {
  background: #55ACEE;
  color: white;
}
.contact .fa-instagram {
  background: #125688;
  color: white;
}
.contact .fa-linkedin {
  background: #007bb5;
  color: white;
}
