@import url('https://fonts.googleapis.com/css?family=Quicksand:300,500&display=swap');


@mobile: ~"only screen and (max-width: 800px)";

// Global Vars
* {
	box-sizing: border-box;
  }
  
  html, body {
	margin: 0; 
	padding: 0;
  }

  h1, h2, h3, h4, h5, p {
	font-family: 'Quicksand', sans-serif;
  }

// .container {
// 	max-width: 800px;
// 	width: 100%;
// 	margin: 0 auto;
// }
  
//Header Component  
header {

	// border: red solid 2px;

	@media @mobile {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	img {

		@media @mobile {
			// position: relative;
			// right: 120px;
			// bottom: 8px;
			float: left;
			width: 50%;
			height: auto;
		} 
	}

	.topnav {

		margin-top: 30px;
	

		@media @mobile {
			overflow: hidden;
			// background-color: #333;
			position: relative;
			width: 100%;
		} 

		#myLinks {
			

			@media @mobile {
				display: none;
				margin-top: 90px;
			}
		}

		a {

			@media @mobile {
				color: #008eb6;
				padding: 14px 16px;
				text-decoration: none;
				text-align: center;
				font-size: 35px;
				display: block;
				// float: center;
			}
			

			// &:hover {
			// 	background-color: #ddd;
  			// 	color: black;
			// }
		}

		a.icon {
			display: none;

			@media @mobile {
				// background: lightblue;
				
				display: block;
				position: absolute;
				right: 0;
				top: 0;
			} 	
		}

		// i {

		// 	@media @mobile  {
		// 		position: relative;
		// 		top: 20px;
		// 		right: 35px;
		// 		font-size: 45px;
		// 	}
		
		// }
	}

	h1 {
		margin-top: 30px;
		color: #14363f;
		text-align: center;
	}

	button {
		background-color: #008eb6; /* Green */
		border: 2px solid white;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 25px;
		margin: 4px 2px;
		cursor: pointer;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 8px 0 rgba(0,0,0,0.19);
	}	  	
} // end header

.content {


	@media @mobile {
		// max-width: 440px;
		width: 90%;
		margin: 75px auto;
		color: #14363f;
		text-align: center;
	}

	h2 {
		background-color: #91b2ce;;
		padding: 34px 10px;
		border-radius: 10px
	}
}

//Features Component  
.features {

	img {

		@media @mobile {
			
			left: 0;
			top: 0;
			width: 100%;
			height: auto;
						
		}
	}
}

// Testomonials
.test {

	.textBox {
		border: 2px solid #008eb6;
		border-radius: 5px;
		padding: 16px;
		margin: 16px 0;

		// &:after {
		// 	content: "";
		// 	clear: both;
		// 	display: table;
		// }

		img {
			float: left;
			margin-right: 20px;

			@media @mobile {
				margin: auto;
				float: none;
				display: block;
			}
			  
		}

		span {
			font-size: 20px;
			margin-right: 15px;
		}
	}
}

// Ous Story 
.ourStory {
	
	p {
		line-height: 30px;
	}

	a {
		font-size: 20px;
	}
}

//Contact
.contact {

	.fa {
		padding: 16px 22px;
		font-size: 30px;
		text-align: center;
		text-decoration: none;
		margin: 5px 8px;
		border-radius: 50%;

		&:hover {
			opacity: 0.7;
		}		  
	}

	.fa-facebook {
		background: #3B5998;
		color: white;
	  }

	  .fa-twitter {
		background: #55ACEE;
		color: white;
	  }

	  .fa-instagram {
		background: #125688;
		color: white;
	  }

	  .fa-linkedin {
		background: #007bb5;
		color: white;
	  }		  

}